<div>
  <h1>Notas Uno</h1>
  <div>
    <form [formGroup]="formularioNota">
      <div>
        <input name="nombre" formControlName="nombre" type="text" placeholder="Nombre"/>
        <div *ngIf="formErrores.nombre">{{formErrores.nombre}}</div>
      </div>
      <div>
        <input name="dni" formControlName="dni" appValidacion [group]="formularioNota" type="number" placeholder="Cedula"/>
        <div *ngIf="formErrores.dni">{{formErrores.dni}}</div>
      </div>
      <div>
        <input name="notaUno" formControlName="notaUno" appValidacion [group]="formularioNota" type="number" placeholder="Nota 1"/>
        <div *ngIf="formErrores.notaUno">{{formErrores.notaUno}}</div>
      </div>
      <div>
        <input  formControlName="notaDos" appValidacion [group]="formularioNota" type="number" placeholder="Nota 2"/>
        <div name="notaDos" *ngIf="formErrores.notaDos">{{formErrores.notaDos}}</div>
      </div>
      <div>
        <input name="notaTres" formControlName="notaTres" appValidacion [group]="formularioNota" type="number" placeholder="Nota 3"/>
        <div *ngIf="formErrores.notaTres">{{formErrores.notaTres}}</div>
      </div>
      <div>
        <input name="notaCuatro" formControlName="notaCuatro" appValidacion [group]="formularioNota" type="number" placeholder="Nota 4"/>
        <div *ngIf="formErrores.notaCuatro">{{formErrores.notaCuatro}}</div>
      </div>
      <button [disabled]="!formularioNota.valid" (click)="calcularPromedio()" color="primary">promedio</button>
    </form>
    <div *ngIf="promedio">
      <h3>El promedio es:</h3>
      <span>{{promedio}}</span>
    </div>
  </div>
  <app-listado></app-listado>
</div>